$template:light;  // light | dark


$Bodyc:#b9a80d1b;// background color del body light
$BodycDark:#474646;// background color del body dark
$HColor:black;// color dei titoli light
$HColorDark:goldenrod;// color dei titoli dark
$Pcolor:#222;// colore dei paragrafi light
$PcolorDark:rgb(233, 233, 233);// colore dei paragrafi dark
$CardBgColor:white;//colore di background delle card
$aCardColor:lightslategray;//colore della scritta del link all'interno delle card

$bgMenu:white;// colore di background della navbar light
$bgMenuDark: rgb(42, 40, 40);// colore di background della navbar dark
$MenuC:#b9a80d;//colore degli elementi della navbar

$footerbg:#b9a80d57;// colore di background del footer light
$footerbgDark:rgb(46, 45, 45);// colore di background del footer dark
$footerC:gray;// colore delle scritte nel footer dark & light
